body{
  background-color: yellow;
}
#p1{
  background-color:  blue;
  font-size: 20pt;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 4%;

}
.A{
  background-color: green;
  margin-top: 2%;
  float: right;
}
.A:hover{
  background-color: yellow;
  margin-top: 5%;
}
.A:active{
  background-color: black;
margin-top:8%;
font-size: 15px;
}
#p1{
  border-bottom-style:dashed;
  border-width: 4px;
  border-top-style: solid;
  border-color: red;
  width: 50%;
  font-size: 16pt;
  font-style: italic;
  font-family: "Time New Roman",Times;
  text-align: center;
  word-spacing: 2px;
  text-transform: uppercase;
  /*height: 20px;*/

}
table{
  border-collapse: collapse;
  text-align: center;
}
#n1 .m1{
  background-color: red;
}
table ,tr,td{
  border: 2px solid black;
}
span{
  display: inline;
  position: absolute;
  top: 200px;
  left: 52px;
}
